<ion-header translucent="true" >
  <ion-toolbar color="dark" >
    <ion-title class="titel_text"> Music Player </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" color="dark" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar  color="dark">

      <ion-title class="titel_text" size="large">Music Player</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-col size="12">
    <div>
      <ion-searchbar></ion-searchbar>
    </div>
  </ion-col>
  <ion-col size="12">
    <ion-button class="Featured" (click)="onClick()" expand="block" fill="clear">
      Featured
    </ion-button>
    <!-- <div >Featured</div> -->
    <div class="Top20">Top20</div>
    <div class="TopArtist">TopArtist</div>
  </ion-col>

  <ion-col size="12">
    <ion-slides id="mainslider" pager="false" [options]="slideOpts">
      <ion-slide>
        <div class="slide">
          <img src="assets/images/Rectangle129.png" alt="" />
          <h6 class="topic">Sunburn of wind</h6>
          <h6 class="artist">Yohan Ft: KSHMR</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="assets/images/Rectangle129.png" alt="" />
          <h6 class="topic">Sunburn of wind</h6>
          <h6 class="artist">Yohan Ft: KSHMR</h6>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-col>
  <div class="hr"></div>
  <ion-row class="ion-padding">

    <ion-col size="12">
      <ion-button class="Featured" (click)="onClick()" expand="block" fill="clear">
        Category
      </ion-button>
      <div class="Top20">Popular</div>
      <div class="TopArtist">Tags</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides id="subslider" pager="false" [options]="slideOpts2">
        <ion-slide>
          <div class="slide">
            <img src="assets/images/Rectangle 129-2.png" alt="" />
            <h6 class="topic">Sunburn of wind</h6>
            <h6 class="artist">Yohan Ft: KSHMR</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/images/Rectangle 129.png" alt="" />
            <h6 class="topic">Sunburn of wind</h6>
            <h6 class="artist">Yohan Ft: KSHMR</h6>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/images/Rectangle 129-1.png" alt="" />
            <h6 class="topic">Sunburn of wind</h6>
            <h6 class="artist">Yohan Ft: KSHMR</h6>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <div class="hr2"></div>

  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-button class="Featured" (click)="onClick()" expand="block" fill="clear">
        Recetly Played
      </ion-button>
      <div class="TopArtist">Suggested</div>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="12">
      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-item color="dark">
            <div>
              <h6 id="rescentist">Lazer Love (ft. Francisca Ha)
              </h6>
              <p id="artistname">KSHMR & Vaski</p>
         
            </div>
            <div id="iconLove">
              <ion-icon  name="heart-outline"></ion-icon>
            </div>
            <ion-icon color="warning" slot="start" name="play-circle-outline"></ion-icon>
          </ion-item>
          <ion-item color="dark">
            <div>
              <h6 id="rescentist">Lazer Love (ft. Francisca Ha)
              </h6>
              <p id="artistname">KSHMR & Vaski</p>
         
            </div>
            <div id="iconLove">
              <ion-icon  name="heart-outline"></ion-icon>
            </div>
            <ion-icon color="warning" slot="start" name="play-circle-outline"></ion-icon>
          </ion-item>
          <ion-item color="dark">
            <div>
              <h6 id="rescentist">Lazer Love (ft. Francisca Ha)
              </h6>
              <p id="artistname">KSHMR & Vaski</p>
         
            </div>
            <div id="iconLove">
              <ion-icon  name="heart-outline"></ion-icon>
            </div>
            <ion-icon color="warning" slot="start" name="play-circle-outline"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>