<ion-header >
  <ion-toolbar color="dark">
    <ion-title class="titel_text" >
      Bigroom Play List 02
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar  color="dark">
      <ion-title  class="titel_text" size="small">Bigroom Play List 02</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

</ion-content>
